<div class="featured-agents">
    <div class="featured-agents__container container">
        <div class="featured-agents__content">
            <h2 class="section-title">Our Featured Agents</h2>
            <p class="section-desc">Meet the best real estate agents</p>
            <div class="featured-agents__content-row row" id="agentsRow">
            
            </div>
            <a href="#" class="btn section-button featured-agents__button">See all agents</a>
            </a>
        </div>
    </div>
</div>