<div class="choose-us">
  <div class="container">
    <div class="choose-us__row row">
      <div class="choose-us__content col-12 col-lg-4">
        <div class="choose-us__content-container">
          <h2 class="section-title--advantage">Why Choose Us</h2>
          <p class="section-desc--advantage">
            We offer perfect real estate service
          </p>
          <a href="#" class="btn section-button choose-us__button"
            >learn more</a
          >
        </div>
      </div>
      <div class="choose-us__swiper col-12 col-lg-8">
        <div class="swiper choose-us__swiper-container">
          <div class="swiper-wrapper" id="chooseUsRow"></div>
        </div>
      </div>
    </div>
  </div>
</div>
